<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-lg-6">
      <h1><i> Menu</i></h1>
      <table class="mt-2">
        <tr>
          <td [routerLink]="['starters']"><h2>Starters</h2></td>
          <td [routerLink]="['pizzas']"><h2>Pizzas</h2></td>
        </tr>
        <tr>
          <td [routerLink]="['desserts']"><h2>Desserts</h2></td>
          <td [routerLink]="['drinks']"><h2>Drinks</h2></td>
        </tr>
      </table>
    </div>
  </div>
</div>
