<div class="container text-center">
  <h1><i> Menu</i></h1>
  <div class="row mt-5">
   
    <div class="col-xs-3 col-md-3 pointer" [routerLink]="['starters']"><img src="../../../../assets/starters.jpg" class="img-thumbnail" alt="Starters">Starters</div>
    <div class="col-xs-3 col-md-3 pointer" [routerLink]="['pizzas']"><img src="../../../../assets/pizzas.jpg" class="img-thumbnail" alt="Pizzas">Pizzas</div>
    <div class="col-xs-3 col-md-3 pointer" [routerLink]="['desserts']"><img src="../../../../assets/desserts.jpg" class="img-thumbnail" alt="Desserts">Desserts</div>
    <div class="col-xs-3 col-md-3 pointer" [routerLink]="['drinks']"><img src="../../../../assets/drinks.jpg" class="img-thumbnail" alt="Drinks">Drinks</div>
  </div>
</div>