
      <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-6">



    
  <h1><i>Pizzarito</i></h1>

<p class="lead">
    Welcome to pizzarito! 

  you just a few steps from hot original italian pizza in your home!</p>
  <p>
      We suggest to register first or login if already have an account.
  </p>
  <p>(Guest users may not procced for payment).</p>

  <table class="mt-5">
      <tr>
        <td [routerLink]="['/register']"><h2>Register </h2></td>
        <td [routerLink]="['/menu']"><h2>Start Order!</h2></td>
      </tr>
     
    </table>
</div>
</div>
</div>
