<div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <h1><i>Check out</i></h1>
        <p>Hi, {{ authService.currentUser.fullName }} !</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <!-- ADDRESS VERIFY -->
      <div class="col-sm-6">
        <div>
          <h3>Verify Address</h3>
          <p>Is that your current address?</p>
  
          <div *ngIf="!addressEditMode">
            <p><b>City:</b> {{ authService.currentUser.address.city }}</p>
            <p><b>Street:</b> {{ authService.currentUser.address.streetName }}</p>
            <p>
              <b>House number:</b
              >{{ authService.currentUser.address.streetNumber }}
            </p>
  
            <p *ngIf="authService.currentUser.address.floor">
              <b> Floor:</b> {{ authService.currentUser.address.floor }}
            </p>
            <p>
              <b *ngIf="authService.currentUser.address.apartment">Apartment:</b>
              {{ authService.currentUser.address.apartment }}
            </p>
          </div>
  
          <!-- ************************************************************************************************************************** -->
          <div *ngIf="addressEditMode">
            <form [formGroup]="editUserAddressForm">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input
                          class="form-control is-invalid"
                          type="text"
                          formControlName="city"
                          [ngClass]="{
                            'is-invalid':
                            editUserAddressForm.get('city').errors &&
                            editUserAddressForm.get('city').touched
                          }"
                          placeholder="City "
                        />
                        <div class="invalid-feedback">
                         City is required!
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input
                          class="form-control is-invalid"
                          type="text"
                          formControlName="streetName"
                          [ngClass]="{
                            'is-invalid':
                            editUserAddressForm.get('streetName').errors &&
                            editUserAddressForm.get('streetName').touched
                          }"
                          placeholder="Street name"
                        />
                        <div class="invalid-feedback">
                         Street is required!
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input
                          class="form-control is-invalid"
                          type="text"
                          formControlName="streetNumber"
                          [ngClass]="{
                            'is-invalid':
                            editUserAddressForm.get('streetNumber').errors &&
                            editUserAddressForm.get('streetNumber').touched
                          }"
                          placeholder="House number"
                        />
                        <div class="invalid-feedback">
                          House number is required!
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="number"
                          formControlName="floor"
                          placeholder="Floor "
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input
                          class="form-control "
                          type="text"
                          formControlName="apartment"
                          placeholder="Apartment"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-danger mr-1"  type="button" (click)="createAddressEditForm()">
                    <i class="fas fa-undo"></i> Reset
                  </button>
                  <button class="btn btn-sm btn-success" type="button" (click)="updateUserAddress()" [disabled]="editUserAddressForm.invalid || !editUserAddressForm.dirty">
                    <i class="fas fa-save"></i> Save
                  </button>
                </div>
              </div>
            </form>
          </div>
  
          <!-- ************************************************************************************************************************** -->
          <button class="btn-danger" (click)="changeAddressEditMode()">
            <i class="fas fa-edit"></i> Edit
          </button>
        </div>
      </div>
  
      <!-- PAYMENT INFO -->
      <div class="col-sm-6">
        <h3>Payment</h3>
        <p>Please select your payment method:</p>
  
        <mat-radio-group
          class="radio-group"
          aria-labelledby="paymentMethod"
          [(ngModel)]="isCash"
        >
          <mat-radio-button class="radio-button" [value]="true"
            >Cash <i class="fas fa-dollar-sign"></i
          ></mat-radio-button>
          <mat-radio-button class="radio-button" [value]="false"
            >Credit <i class="far fa-credit-card"></i>
          </mat-radio-button>
        </mat-radio-group>
  
        <!-- CREDIT CARD CREDENTIALS -->
        <div *ngIf="!isCash">
          <form [formGroup]="ccForm">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input
                        class="form-control is-invalid"
                        id="name"
                        type="text"
                        formControlName="ccname"
                        placeholder="Enter card owner name"
                        [ngClass]="{
                          'is-invalid':
                            ccForm.get('ccname').errors &&
                            ccForm.get('ccname').touched
                        }"
                      />
                      <div class="invalid-feedback">
                        Card owner name is required!
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="ccnumber">Credit Card Number</label>
                      <div class="input-group">
                        <input
                          id="ccnumber"
                          class="form-control"
                          type="text"
                          placeholder="XXXX XXXX XXXX XXXX"
                          autocomplete="email"
                          maxlength="16"
                          formControlName="ccnumber"
                          [ngClass]="{
                            'is-invalid':
                              ccForm.get('ccnumber').errors &&
                              ccForm.get('ccnumber').touched
                          }"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="far fa-credit-card"></i>
                          </span>
                        </div>
                        <div class="invalid-feedback">
                          Card number is required and must be 16 digits long!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="ccmonth">Month</label>
                    <select class="form-control" id="ccmonth" formControlName="ccmonth">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="ccyear">Year</label>
                    <select class="form-control" id="ccyear" formControlName="ccyear">
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                      <option>2026</option>
                    </select>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="cvv">CVV/CVC</label>
                      <input
                        class="form-control"
                        id="cvv"
                        type="text"
                        placeholder="XXX"
                        formControlName="cvv"
                        maxlength="3"
                        [ngClass]="{
                          'is-invalid':
                            ccForm.get('cvv').errors && ccForm.get('cvv').touched
                        }"
                      />
                      <div class="invalid-feedback">
                        Card verification value is required and must be 3 digits
                        long!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-danger" type="reset">
                  <i class="fas fa-undo"></i> Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <button style="position: static; bottom: 20%;"  class="btn btn-lg btn-success mt-2" (click)="Pay()">
        Done!
      </button>
    </div>
  </div>
  