<div class="container text-center">
  <h1><i> Size:</i></h1>
  <div class="row mt-5">
    <!-- ***S*** -->
    <div class="col-3">
      <div class="pizza-s">
        <h1>S</h1>
      </div>
    </div>
    <!-- ***M*** -->
    <div class="col-3">
      <div class="pizza-m">
        <h1>M</h1>
      </div>
    </div>
    <!-- ***L*** -->
    <div class="col-3">
      <div class="pizza-l">
        <h1>L</h1>
      </div>
    </div>
    <!-- ***XL*** -->
    <div class="col-3">
      <div class="pizza-xl">
        <h1>XL</h1>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-3" *ngFor="let size of sizes">
      <h2>{{ size.price }}₪</h2>
      <i class="fas fa-plus-circle fa-3x ml-2"  (click)="addSize()"></i>
      
    </div>
    
  </div>
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3">
      <button class="btn btn-info btn-lg my-5" (click)="backToMenu()">Back To Menu</button>
    </div>
  </div>
 
</div>
