.pizza-s {
  border-radius: 400px;
  border: 1px solid;
  width: 100px;
  height: 100px;
  display: table-cell; 
    vertical-align: middle; 

}
.pizza-m {
  border-radius: 100px;
  border: 1px solid;
  width: 150px;
  height: 150px;
  display: table-cell; 
  vertical-align: middle;
}
.pizza-l {
  border-radius: 150px;
  border: 1px solid;
  width: 200px;
  height: 200px;
  display: table-cell; 
  vertical-align: middle;
}
.pizza-xl {
  border-radius: 2000px;
  border: 1px solid;
  width: 250px;
  height: 250px;
  display: table-cell; 
  vertical-align: middle;
}
h2{
    display: inline
}