<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-4">
      <h1><i>My Order</i></h1>

      <table class="mt-4">
        <tr>
          <div *ngFor="let pizza of order.pizzas">
            <td>
              <h4>Pizza({{ pizza.size.name }})</h4>
            </td>
            <td>
              <i class="fas fa-trash-alt" (click)="removePizza(pizza)"></i>
            </td>
            <tr *ngFor="let extra of pizza.extras">
              {{
                extra.name
              }}
            </tr>
          </div>
        </tr>

        <tr>
          <div *ngFor="let starter of order.starters">
            <td>{{ starter.name }} {{ starter.price }}₪</td>
            <td>
              <i class="fas fa-trash-alt" (click)="removeStarter(starter)"></i>
            </td>
          </div>
        </tr>
        <tr>
          <div *ngFor="let dessert of order.desserts">
            <td>{{ dessert.name }} {{ dessert.price }}₪</td>
            <td>
              <i class="fas fa-trash-alt" (click)="removeDessert(dessert)"></i>
            </td>
          </div>
        </tr>
        <tr>
          <div *ngFor="let drink of order.drinks">
            <td>{{ drink.name }} {{ drink.price }}₪</td>
            <td>
              <i class="fas fa-trash-alt" (click)="removeDrink(drink)"></i>
            </td>
          </div>
        </tr>
      </table>
      <div *ngIf="order.totalBill != 0">
        <h2 class="mt-5">Total:{{ order.totalBill }}₪</h2>
        <div class="btn-group mt-4">
          <button class="btn btn-info btn-lg" (click)="backToMenu()">
            Back To Menu
          </button>
          <button class="btn btn-primary btn-lg" (click)="proceedToPayment()">
            That`s All <i class="fas fa-dollar-sign"></i>
          </button>
        </div>
      </div>

      <div
        *ngIf="order.totalBill == 0"
        style="margin-top: 20%; font-size: larger"
      >
        <p>
          You have no items in your order, click
          <a [routerLink]="['/menu']">here</a> to add some.
        </p>
      </div>
    </div>
  </div>
</div>
