<div class="text-center">
  <h1><i>My Order</i></h1>
</div>

<div class="container-fluid d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <div *ngIf=" order.pizzas && order.pizzas.length != 0 ">
        <h3>Pizzas</h3>
        <div *ngFor="let pizza of order.pizzas">
          <div class="d-flex justify-content-start">
            <i class="fas fa-trash-alt" (click)="removePizza(pizza)"></i
              >
            Pizza({{ pizza.size.name }}) - &nbsp;
            <div *ngIf="pizza.extras != undefined">
              <div *ngFor="let extra of pizza.extras">
                <span
                  >{{ extra.name }} {{ extra.price }}₪
                 </span>
              </div>
            </div>
            <div *ngIf="pizza.extras == undefined">No extras</div>
          </div>
          
        </div>
        
      </div>
      <div *ngIf="order.starters && order.starters.length != 0  ">
        <h3>Starters</h3>
        <div *ngFor="let starter of order.starters">
          <div class="d-flex justify-content-start">
           <span>{{ starter.name }} {{ starter.price }}₪</span>&nbsp;<i class="fas fa-trash-alt" (click)="removeStarter(starter)"></i>
          </div>
        </div>
      </div>
  
      <div *ngIf="order.desserts && order.desserts.length != 0">
        <h3>Desserts</h3>
        <div *ngFor="let dessert of order.desserts">
          <div class="d-flex justify-content-start">
           <span>{{ dessert.name }} {{ dessert.price }}₪</span>&nbsp;<i class="fas fa-trash-alt" (click)="removeDessert(dessert)"></i>
          </div>
        </div>
      </div>
      <div *ngIf="order.drinks && order.drinks.length != 0">
        <h3>Drinks</h3>
        <div *ngFor="let drink of order.drinks">
          <div class="d-flex justify-content-start">
           <span>{{ drink.name }} {{ drink.price }}₪</span>&nbsp;<i class="fas fa-trash-alt" (click)="removeDrink(drink)"></i>
          </div>
        </div>
      </div>

      <div *ngIf="order.totalBill != 0 || order== undefined">
        <h2 class="mt-5">Total:{{ order.totalBill }}₪</h2>
        <div class="btn-group mt-4">
          <button class="btn btn-info btn-lg" (click)="backToMenu()">
            Back To Menu
          </button>
          <button class="btn btn-primary btn-lg" (click)="proceedToPayment()">
            That`s All <i class="fas fa-dollar-sign"></i>
          </button>
        </div>
      </div>

      <div
        *ngIf="order.totalBill == 0"
        style="margin-top: 20%; font-size: larger"
      >
        <p>
          You have no items in your order, click
          <a [routerLink]="['/menu']">here</a> to add some.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <table class="mt-4">
  <tr>
    <div *ngFor="let pizza of order.pizzas">
      <td>
        <h4>Pizza({{ pizza.size.name }})</h4>
      </td>
      <td>
        <i class="fas fa-trash-alt" (click)="removePizza(pizza)"></i>
      </td>
      <tr *ngFor="let extra of pizza.extras">
        {{
          extra.name
        }}
      </tr>
    </div>
  </tr>

  <tr>
    <div *ngFor="let starter of order.starters">
      <td>{{ starter.name }} {{ starter.price }}₪</td>
      <td>
        <i class="fas fa-trash-alt" (click)="removeStarter(starter)"></i>
      </td>
    </div>
  </tr>
  <tr>
    <div *ngFor="let dessert of order.desserts">
      <td>{{ dessert.name }} {{ dessert.price }}₪</td>
      <td>
        <i class="fas fa-trash-alt" (click)="removeDessert(dessert)"></i>
      </td>
    </div>
  </tr>
  <tr>
    <div *ngFor="let drink of order.drinks">
      <td>{{ drink.name }} {{ drink.price }}₪</td>
      <td>
        <i class="fas fa-trash-alt" (click)="removeDrink(drink)"></i>
      </td>
    </div>
  </tr>
</table> -->
