
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-expand-lg-sm navbar-expand-md navbar-expand-lg navbar-expand-xl}">
    <a class="navbar-brand" [routerLink]="['home']" >Pizzarito</a>
        <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['menu']">Menu </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  [routerLink]="['about']" >About</a>
        </li>
       
   
      </ul>


      <!-- RIGHT SIDE -->
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>